@{
    ViewData["Title"] = "Search";
}

@section styles {
    <link rel="stylesheet" href="~/dist/vendor.css" />
    <link rel="stylesheet" href="~/dist/app.css" />
}

<div id="app"></div>

@section scripts{
    <script type="text/javascript" src="~/dist/vendor.js"></script>
    <script type="text/javascript" src="~/dist/app.js"></script>
}
