@{
    ViewData["Title"] = "Search";
}

<div id="app"></div>

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="http://localhost:8080/bundle.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/bundle.css" />
    </environment>

}

@section scripts{
    <script type="text/javascript" src="~/dist/vendor.js"></script>
    <script type="text/javascript" src="~/dist/app.js"></script>
}
