@{
    ViewData["Title"] = "Home Page";
}

<div id="search-wrapper" class="search-wrapper">
    <div class="input-holder">
        <input id="searchbox" type="text" class="search-input" placeholder="Type to search" />
    </div>
</div>

@section scripts{
 <script>
    $(function(){
        $("#searchbox").on('focus', function(){
            $("#search-wrapper").addClass('active');
        });
    })
</script>
   
}