.main {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

.facetClear {
  cursor: pointer;
}

.facets {
  // flex: 1;
  padding: 1rem;
}

.panel {
  flex: 1;
  padding: 1rem;
}

.inputContainer {
  margin-bottom: 1rem;
}
