$search-wrapper-height: 10%;
$search-placeholder-color: white;

#herotitle {
    z-index: 1000;
    width: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    top:25%;
    left:50%;
    text-align: center;
    max-width: 280px;
    color: white;

    &.fadeout {
      opacity: 0;
      transition: all .1s ease-out;
    }
}

#background {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    &.fadeout {
       opacity: 0;
       transition: all .5s ease-out;
     }
 }

.search-wrapper {
    z-index: 1000;
    width: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;

    .input-holder{
        height: 70px;
        background: rgba(255,255,255,0);
        border-radius:6px;

        .search-input {
            width: 100%;
            position: absolute;
            transform: translate(-50%, -50%);
            top:50%;
            left:50%;
            height: 50px;
            padding:0px 70px 0 20px;
            font-family:"Open Sans", Arial, Verdana;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }
    }

    &.active{
        width: 80%;
        transform: translate(-50%, -50%);
        top: $search-wrapper-height;
        left:50%;
        transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);

        .input-holder {
            border-radius: 50px;
            background: rgba(0,0,0,0.5);

            .search-input{
                position: relative;
                top: 0;
                left: 0;
                opacity: 1;
                background: transparent;
                box-sizing: border-box;
                border:none;
                outline:none;
                color: white;
                width:100%;
                max-width: 100%;
                transform: translate(10px, 10px);

                &::-webkit-input-placeholder {
                    color: $search-placeholder-color;
                }

                &::-moz-placeholder {
                    color: $search-placeholder-color;
                }

                &:-ms-input-placeholder {
                    color: $search-placeholder-color;
                }
            }
        }
    }
}

.results-wrapper {
    margin-top: $search-wrapper-height;
}

.result {
    .card-header {
        background-color: #1A3E68;
        color: white;
    }
    .card-block {
        padding: 0;
    }
}
