$search-wrapper-height: 10%;
$search-placeholder-color: white;

#herotitle {
    z-index: 1000;
    width: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    top:25%;
    left:50%;
    text-align: center;
    max-width: 280px;
    color: white;

    &.fadeout {
      opacity: 0;
      transition: all .1s ease-out;
    }
}

.search-clean {
    #top-nav {
        background: none;
    }
    .navbar-brand {
        display: none;
    }

    .navbar-search-form {
        position: fixed;
        top: 50%;
        left: 0;
        width: 40%;
        margin-left: 30%;

        @media (max-width: 544px) {
            width: 90%;
            margin: 5%;
        }

        .navbar-search-input {
            width: 100%;
            max-width: 100%;
        }
    }
}

.search-dirty {
    #top-nav {
        transition: background 0.5s linear 0.5s;
    }
    .navbar-brand {
        transition: all 0.5s linear 1s;
    }
    .navbar-search-form {
        transition: all 0.5s linear;
    }
}

.content-wrapper {
    padding-top: 0.9375rem;

    .facet-wrapper {
        border-right: 1px solid #ddd;
    }

    .results-wrapper {

    }
}

.result {
    .card-header {
        background-color: #1A3E68;
        color: white;
    }
    .card-block {
        padding: 0;
    }
}
