.main {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

.facetClear {
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
}

.facets {
  // flex: 1;
  padding: 1rem;
}

.panel {
  flex: 1;
  padding: 1rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
        padding: 1rem;
    } 
}
